# .env.sample

# Server Port
PORT=3090

# Database Configuration
DB_TYPE='mysql'
DB_HOST='database-relatify.cjgcg6qi8y4u.us-east-1.rds.amazonaws.com'
DB_PORT=3306
DB_USERNAME='admin'
DB_PASSWORD='YOUR_DATABASE_PASSWORD'
DB_DATABASE='relatify_parana'
DB_SYNCHRONIZE=false
DB_LOGGING=true

# JWT Configuration
JWT_SECRET="YOUR_JWT_SECRET"

# Bearer Token
BEARER_TOKEN="YOUR_BEARER_TOKEN"

# Mailer Configuration
MAILER_URL="https://mailer-microservice-production.up.railway.app/send-mail"
MAILER_TOKEN="YOUR_MAILER_TOKEN"
